body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#box{
  border: solid;
  border-color: gainsboro;
  width: 50%;
}
.azul{
  color: rgb(40, 140, 221);
}
#car{
  width: 30px;
  height: 30px;
  color: #198754;
}
#number{
  width: 20%;
height: 10%;
}

.contenLogin{
  width: 25vw;
  height: 50vh;
}